.idea/

Config.java
src/main/java/me/darkdarcool/kokobot/Config.java
*.jar

.gradle/*
gradle/
build/
app/

src/main/resources/serviceaccount.json
src/main/resources/items.txt
src/main/resources/items/*

api/*

docs/*
*.ts
*.html
docs/index.html
